
*.png%2Fac0a4d68-705b-46ec-866f-8cc7a657a99c%3Ft%3D1415802870933
.metadata/.plugins/com.vaadin.integration.eclipse/notification-images-cache/documents%2F10187%2F3851288%2FVaadin-8-1.png%2F4f9c261d-b696-4bfd-9dcc-77f13674de7a%3Ft%3D1487750632000
.metadata/.lock
.metadata/.log
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/com.vaadin.integration.eclipse/notification-images-cache/image%2Fimage_gallery%3Fimg_id%3D3851299%26t%3D1385741714872
/.metadata/
